body{
    margin: 0px;
}

.header{
    background-color: #006FB9;
    color: #F2F2F2;
}

.heading{
    position: absolute;
    top:10px;
    left:50%;
}

.search-box{
    position: absolute;
    height: 26px;
    width: 12%;
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
    top: 30px;
    right: 90px;
}

.search{
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 32px;
    margin-top: 15px;
}

nav{
    text-align: center;
}

nav a{
    color: #F2F2F2;
    text-decoration: none;
    padding: 10px 20px;
}

nav .active{
    background-color: #fff;
    color: #000;
    
}

.side-nav{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 140px;
    background-color: #000;
    overflow-x: hidden;
}

.side-nav a{
    color: #464849;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 40px;
    text-align: center;
    font-size: 90%;
}

.side-nav a img{
    display: block;
    margin-left: 30%;
    height: 30px;
    width: 30px;
}

.side-nav .active{
    color: #F2F2F2;
}